@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 170px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: black;
}

#red {
  color: red;
}

button {
  background-color: #fff;
  padding: 12px 24px;
  color: red;
  border: 2px solid red;
  border-radius: 8px;
}

.container {
  display: flex;
  width: 100%;
  height: 600px;
  background-image: url(./image\ 4.png);
  background-size: cover;
}

#rbut {
  background-color: red;
  padding: 12px 24px;
  color: white;
  border-radius: 8px;
  margin-top: 48px;
}

.text1 {
  width: 800px;
  padding: 150px;
}

h1 {
  color: #fff;
}

.doc {
  padding-top: 118px;
}

h2 {
  text-align: center;
}

.hijoma {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blue {
  width: 100%;
  height: 650px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.photo {
  position: relative;
  top: -100px;
  left: 250px;
}

iframe {
  padding-left: 250px;
  width: 650px;
}
.inp{
  background-color: bisque;
  padding: 50px;
  width: 350px;
  margin: 0px 250px;
}

input{
margin: 15px;
padding: 15px;

}

.div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 170px;
  background-color: #222222;
}

#hi{
  background-color: #848484;
}

.htext{
  padding: 0px 50px;
}

.hphoto{
  padding: 0px 25px;
}

.infa{
  padding: 100px 350px;
  padding-bottom: 200px;
}